.Header {
    background-color: #333;
    padding: 10px;
}

.Header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.Header ul li {
    display: inline-block;
}

.Header ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}

.Header ul li a:hover {
    background-color: #555;
}
